*
body
{
    background-color: black;
    overflow: hidden;
}
.container
{
    position: fixed;
    width: 25%;
    height: 40%;
    margin: auto;
    padding: 0;
}
.container
{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inner 
{
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
}
.items1, .items2
{
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
    background-color: transparent;
    border-radius: 100%;
    border: black 2px solid;
}
.items1
{
    filter: drop-shadow(0px 10px 5px red);
    animation: value 5s ease-in-out infinite;
}
.items2
{
    filter: drop-shadow(10px 0px 5px green);
    animation: value 5s ease-in-out infinite;
}
@keyframes value {
    from,to {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(360deg);
    }
}